.timelines {
  column-gap: 2rem;
}
.timeline {
  padding: 1rem;
}
.timeline-title {
  font-size: 1.6rem;
  display: inline-block;
  margin: 2rem 0;
}
.skillbars {
  gap: 2rem;
  h6 {
    display: inline-block;
    font-size: 1.6rem;
    margin: 1rem 0 0 0;
    font-weight: normal;
  }
}
