.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.header-name {
  font-weight: normal;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
